body {
    background-color: #ededed;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
}

main {
    position: relative;
}

.arrow {
    position: absolute;
    top: 46px;
    left: 50px;
    z-index: 1;
    cursor: pointer;
    width: 30px;
}

#root {
    margin: 0 auto;
    max-width: 480px;
    width: 100%;
    background-color: white;
}

.top {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.top h1 {
    text-align: center;
    grid-column: 2;
}

#title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-left: 16px;
    padding-bottom: 10px;
}

#title h1 {
    font-family: 'Merriweather';
    font-size: 2rem;
}

.top h1 {
    font-family: 'Merriweather';
    font-size: 1.4rem;
}

#now_showing_movies::-webkit-scrollbar {
    display: none;
}

#popular_movies::-webkit-scrollbar {
    display: none;
}

.cast_section::-webkit-scrollbar {
    display: none;
}

.movie h1 {
    font-family: 'Mulish';
    font-size: 1.3rem;
}

#toggle {
    width: 38px;
    height: 21px;
    border-radius: 100px;
    outline: none;
    border: none;
    background-color: #AAA9B1;
    position: relative;
    grid-column: 3;
    justify-self: end;
    margin-right: 34px;
    position: absolute;
    right: 0px;
    top: 40px;
    z-index: 1;
}

#handle {
    width: 18px;
    height: 17px;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 0px;
    right: 0px;
    transition: left 1s linear;
}

.star {
    width: 12px;
    height: 12px;
}

.rating_text {
    font-family: 'Mulish';
    font-size: 0.8rem;
    color: #9C9C9C;
}

.rating {
    display: flex;
    align-items: center;
    gap: 10px;
}

.see_more {
    font-size: 0.7rem;
    background: white;
    border: 1px solid #AAA9B1;
    color: #AAA9B1;
    padding: 5px;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
    justify-self: end;
    margin-right: 30px;
}

#now_showing_movies {
    display: flex;
    overflow-x: scroll;
    padding-left: 16px;
    gap: 16px;
}

.thumb {
    width: 143px;
    height: 212px;
    border-radius: 10px;
}

#now_showing_movies h1 {
    font-size: 1rem;
    margin: 0;
}

#popular_movies {
    height: 292px;
    overflow-y: scroll;
    padding-left: 16px;
    display: grid;
    gap: 10px;
}

#popular_movies .movie {
    display: flex;
}

#info {
    padding-left: 15px;
}

.genre_pill {
    width: auto;
    height: 18px;
    background-color: #DBE3FF;
    color: #88A4E8;
    padding: 5px;
    border-radius: 100px;
    margin: 3px;
    font-family: 'Mulish';
    font-weight: bold;
    font-size: 0.7rem;
}

.genre_pill_text {
    font-size: 8px;
    font-family: 'Mulish';
    font-weight: bold;
    letter-spacing: 2%;
    line-height: 35px;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px;
    align-items: center;
    justify-items: center;
}

.detail_top {
    position: relative;
    display: flex;
    justify-content: center;
}

.detail_image {
    position: absolute;
    width: 100%;
    object-position: 0px -100px;
}

#path {
    position: absolute;
    z-index: 1;
}

#play {
    position: absolute;
    z-index: 2;
}

#play_icon {
    position: relative;
    top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#play_trailer {
    position: absolute;
    z-index: 1;
    top: 160px;
    color: white;
    font-family: 'Mulish';
    font-size: 1rem;
}

#film_detail {
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 300px;
    align-items: center;
    gap: 10px;
    padding: 20px;
    overflow: hidden;
}

#film_title {
    font-family: 'Mulish';
    font-size: 1.5rem;
}

#description {
    grid-row: 3;
}

#description_text {
    font-size: 1.4em;
    font-family: 'Merriweather';
}

#overview {
    color: #9C9C9C;
    font-family: 'Mulish';
    line-height: 22px;
}

.actor {
    width: 100px;
    height: 150px;
    border-radius: 10px;
}

.cast_section {
    display: flex;
    grid-row: 3;
    overflow-x: scroll;
    overflow-y: hidden;
    max-width: 480px;
    width: 100%;
    gap: 10px;
    height: 210px;
}

.cast_text {
    font-family: 'Merriweather';
    font-size: 1.5em;
    font-weight: bold;
    
}

.actor_name {
    color: #110E47;
    font-family: 'Mulish';
    margin: 0;
    font-size: 0.9rem;
}

.genre_pill_container {
    display: flex;
    gap: 10px;
}